<a href="https://colab.research.google.com/github/ishi44/Titanic-Survival-Prediction/blob/main/Titanic_Survival_Prediction_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTING DEPENDENCIES

In [3]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

Loading Datasets

In [5]:
#importing train dataset

train_data = pd.read_csv("/train (1).csv")
train_data.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [7]:
#importing test dataset

test_data = pd.read_csv("/test.csv")
test_data.head(3)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

% Men and Women survived

In [8]:
#calculating percent women survived on titanic


women_survived = train_data[(train_data['Sex'] == 'female') & (train_data['Survived'] == 1)]
rate_women = len(women_survived)/len(train_data[train_data['Sex'] == 'female']) *100
print('% of women survived :',rate_women)

% of women survived : 74.20382165605095

In [9]:
#calculating percent men survived on titanic


men_survived = train_data[(train_data['Sex'] == 'male') & (train_data['Survived'] == 1)]
rate_men = len(men_survived)/len(train_data[train_data['Sex'] == 'male']) *100
print('% of men survived :',rate_men)

% of men survived : 18.890814558058924

MODEL TRAINING

In [10]:
#importing random forest classifier
from sklearn.ensemble import RandomForestClassifier

#target variable
y = train_data['Survived']

#features
features = ['Pclass','Sex','SibSp','Parch']
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

#model

model = RandomForestClassifier(n_estimators = 100,max_depth = 5,random_state = 1)

#fitting the model
model.fit(X,y)

#predicting the model
predictions = model.predict(X_test)

#making an output dictionary to dataframe
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})

#saving output to a csv file without index with a message
output.to_csv('Submissions.csv',index = False)
print('Your submission was successfully saved!')

Your submission was successfully saved!

In [11]:
#reading and opening output csv file

output_df = pd.read_csv('Submissions.csv')

In [14]:
output_df.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1